/* Set black background */
body {
  background-color: #000;
  color: #fff; /* Set text color to white */
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Root styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logo styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
  }
}

/* Card styles */
.card {
  padding: 2em;
  background-color: #fff;
}

/* Read the docs styles */
.read-the-docs {
  color: #ff00ff;
}

/* Header styles */
.header {
  background-color: #00ff00; /* Neon green */
  padding: 20px;
}

.header-title {
  color: #ff00ff; /* Neon pink */
}

/* Navigation styles */
.nav {
  background-color: #ff00ff; /* Neon pink */
  padding: 10px;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li a {
  color: #00ff00; /* Neon green */
}

/* About Me section styles */
.about-me {
  padding: 50px 20px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-content img {
  width: 200px; /* Adjust image size as needed */
  border-radius: 50%; /* Make image round */
  margin-bottom: 20px;
}

/* Portfolio section styles */
.portfolio {
  padding: 50px 20px;
}

.project {
  background-color: #ff00ff; /* Neon pink */
  padding: 20px;
  margin-bottom: 20px;
}

.project-title {
  color: #00ff00; /* Neon green */
}

.project-description {
  color: #00ffff; /* Neon blue */
}

/* Contact section styles */
.contact {
  padding: 50px 20px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info a {
  color: #00ff00; /* Neon green */
}

/* Footer styles */
.footer {
  background-color: #00ffff; /* Neon blue */
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #ff00ff; /* Neon pink */
}

/* Set height for each page relative to body */
#root,
.appJsx,
.aboutJsx {
  height: 100%;
  min-height: 100vh;
}

/* Properties for each card in portfolio */
.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 90%;
}

/* Padding for photo for projects */
.cardMedia {
  padding-top: 56.25%;
}

.cardContent {
  flex-grow: 1;
}

/* Sets flex properties for contact and resume */
.contactForm,
.resumeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Margin top for each page */
.marginTop {
  margin-top: 100px;
}
